rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isValidId(id) {
      return id is string && id.size() > 0 && id.size() <= 128;
    }

    match /studios/{studioId} {
      allow read, write, delete: if true;
    }

    match /chat_messages/{messageId} {
      allow read, write, delete: if true;
    }

    match /lawsuits/{lawsuitId} {
      allow read, write, delete: if true;
    }

    match /rooms/{roomId} {
      allow read, write, delete: if true;

      match /members/{memberId} {
        allow read, write, delete: if true;
      }
    }

    match /accounts/{accountId} {
      allow read, write, delete: if true;
    }

    match /test/{docId} {
      allow read, write, delete: if true;
    }

    match /users/{userId} {
      allow read, write, delete: if true;

      match /friends/{friendId} {
        allow read, write, delete: if true;
      }
    }

    match /friend_requests/{requestId} {
      allow read, write, delete: if true;
    }
  }
}

